{% extends "base.html" %}

{% block app_content %}
  <h1>{{ _('%(listing)s', listing=listing.title) }}
    <form action="" id="ratings" method="post">
      {{ form.hidden_tag() }}
      {% if listing.voteup %}
        <div id="like" class="btn btn-primary btn-lg active" role="button">{{ form.likebtn }}</div>
      {% else %}
        <div id="like" class="btn btn-primary btn-lg" role="button">{{ form.likebtn }}</div>
      {% endif %}
      {% if listing.votedown %}
        <div id="dislike" class="btn btn-primary btn-lg active" role="button">{{ form.dislikebtn }}</div>
      {% else %}
        <div id="dislike" class="btn btn-primary btn-lg" role="button">{{ form.dislikebtn }}</div>
      {% endif %}
    </form>
  </h1>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script type="text/javascript">
    $('#like').click(function() {
      $(this).toggleClass('active');
      $('#dislike').removeClass('active');
    });

    $('#dislike').click(function() {
      $(this).toggleClass('active');
      $('#like').removeClass('active');
    });
  </script>
  {% for item in listing.menu_items %}
      {% include '_item.html' %}
  {% endfor %}
{% endblock %}
