{% extends "base.html" %}

{% block app_content %}
  <h1>{{ _('%(listing)s', listing=listing.title) }}
    <form action="" method="post" style="display:inline">
      {% if pref == 1 %}
        <input type="submit" name="btn" value="Like" class="btn btn-primary btn-lg active" role="button">
      {% else %}
        <input type="submit" name="btn" value="Like" class="btn btn-primary btn-lg" role="button">
      {% endif %}
      {% if pref == 2 %}
        <input type="submit" name="btn" value="Dislike" class="btn btn-primary btn-lg active" role="button">
      {% else %}
        <input type="submit" name="btn" value="Dislike" class="btn btn-primary btn-lg" role="button">
      {% endif %}
    </form>
  </h1>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script type="text/javascript">
    $('#like').click(function() {
      $(this).toggleClass('active');
      $('#dislike').removeClass('active');
    });

    $('#dislike').click(function() {
      $(this).toggleClass('active');
      $('#like').removeClass('active');
    });
  </script>
  {% for item in listing.menu_items %}
      {% include '_item.html' %}
  {% endfor %}
{% endblock %}
