{% extends "base.html" %}

{% block app_content %}
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">UC Santa Cruz Dining Halls</h1>
      <p class="lead text-muted">Find the items people here love!</p>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for listing in listings %}
          {% include '_listing.html' %}
        {% endfor %}
      </div>
    </div>
  </div>

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Food Trucks</h1>
      <p class="lead text-muted">In various locations on campus</p>
    </div>
  </section>
  <br>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for listing in restaurants %}
          {% include '_listing.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
